streamlit
streamlit-authenticator
extra-streamlit-components
itsdangerous
requests
Markdown
markdown-it-py
MarkupSafe
openai
zhipuai
cryptography
newspaper3k
lxml_html_clean
duckduckgo_search
readability-lxml